.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  border-bottom: solid 2px black;
}

.anchor {
  text-decoration: none;
  margin: 1rem;
}

.left-achors {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.right-achors {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.title {
  position: relative;
  left: 3rem;
}
