.wrapper {
  display: flex;
  margin-top: 1rem;
}

.todo {
  width: 30rem;
  border: 2px solid black;
  border-radius: 1rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.3rem;
  color: black;
}
.button {
  width: 5rem;
  height: 2.8rem;
  border-radius: 1rem;
  background-color: #f1c40f;
  margin-left: 0.5rem;
}

.iscompleted {
  text-decoration: line-through;
  text-decoration-color: red;
}
